---
import Layout from "../layouts/Layout.astro";
import { fetchGraphQL } from "../services/wp-data";
import { BIOGRAPHY_QUERY } from "../graphql/Biografia";
import GreenCaretRight from "../assets/svg/green-caret-right.svg";

const result = await fetchGraphQL(BIOGRAPHY_QUERY);
// If you want to log the raw data, you can stringify it for debugging
const bio = result?.page?.bio?.bio;

console.log(bio);
---

<Layout>
  <section class="bg-gray relative md:h-[100vh] overflow-hidden">
    <div class="container relative md:pt-[25px] md:pb-[70px] h-full mx-auto">
      <img
        id="sandoval-avatar"
        loading="lazy"
        class="absolute md:fixed bottom-0 right-[-55px] md:right-0 z-[1] w-[279px] md:w-[414px]"
        src="https://drbernardosandoval.com/wp-content/themes/bathe-main/assets/images/src/images/Photo-DrBernardo.webp"
        alt=""
        style="transition: opacity 0.5s; opacity: 1;"
      />

      
      <section
        class="content grid gap-[30px] md:grid-cols-2 md:gap-[60px]"
      >
        <div>
          <div class="bg-primary w-[36px] h-[5px] my-[30px]"></div>
          <p
            class="text-[34px] leading-[38px] md:text-[44px] md:leading-[48px] mb-[25px] text-primary"
            set:html={bio.titulo}
          />
          <p
            class="text-[14px] leading-[16px] md:text-[18px] md:leading-[22px] font-extrabold text-primary"
            set:html={bio.subtitulo}
          />

          {
            bio.titulos.map(
              (
                Item: { credenciales: string; titulo: string },
                index: number
              ) => {
                const { credenciales, titulo } = Item;
                if (index === 0) {
                  return (
                    <div class="hidden md:block mt-[35px] md:mt-[25px] mb-[35px]  ">
                      <p class="text-[16px] leading-[18px] md:text-[20px] md:leading-[24px] font-medium text-secondary mb-[10px] uppercase">
                        {titulo}
                      </p>
                      <p class="md:text-[14px] md:leading-[16px] font-semibold text-primary  flex gap-[5px]">
                        <span class="shrink-0 w-[30px]">
                          <GreenCaretRight />
                        </span>
                        <span>{credenciales} </span>
                      </p>
                    </div>
                  );
                }
                return null;
              }
            )
          }
          <div class="hidden md:flex gap-[10px]">
            <a
              class="w-[190px] md:w-auto btn btn-primary text-center"
              href={bio.pdfBio.node.link}
              target="_blank"
            >
              &gt; DESCARGA BIO (PDF)
            </a>
            <a class="w-[190px] md:w-auto btn btn-primary text-center" href="#">
              &gt; contáctame
            </a>
          </div>
        </div>
        <!--Left Column Content-->
        <!--Right Column Content-->
        <div>
        {
            bio.titulos.map(
              (
                Item: { credenciales: string; titulo: string },
                index: number
              ) => {
                const { credenciales, titulo } = Item;
                if (index > 0) {
                  return (
                    <div class="hidden md:block mt-[35px] md:mt-[25px] mb-[35px]  ">
                      <p class="text-[16px] leading-[18px] md:text-[20px] md:leading-[24px] font-medium text-secondary mb-[10px] uppercase">
                        {titulo}
                      </p>
                      <p class="md:text-[14px] md:leading-[16px] font-semibold text-primary  flex gap-[5px]">
                        <span class="shrink-0 w-[30px]">
                          <GreenCaretRight />
                        </span>
                        <span>{credenciales} </span>
                      </p>
                    </div>
                  );
                }
                return null;
              }
            )
          }  
        </div>
        <!--Right Column Content-->
      </section>
    </div>
  </section>
</Layout>
